

body {
  background-color: hsl(130, 30%, 70%, 90%);
}
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');

* {
font-family: 'Vollkorn', serif;
}
#navbox {
  width: 200px;
  height: 200px;
  border: 10px solid purple;
  background-color: #fff;
  float: left;
  clear: none;
}

.nblink {
  padding-top: 6px;
  height: 33%;
    font-size: 26px;
  line-height: 20px;
}

.nblink:hover {
  background-color: gold;
}

#bigbox {
    position: absolute;
  width: 800px;
  margin-left: -400px;
  left: 50%;

  border: 1px solid black;
}

#topnav {
  float: right;
  clear: none;
  height: 40px;
  max-width: 598px;/*1000px-200px*/
background-color: #fff;}


#loginbtn {
  float: right;
  clear: none;
  font-size: 24px;
  background-color: #fff;
  border: 1px solid purple;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0;
}
#loginbtn:hover {
  background-color: purple;
  color: #fff;
  border-color: #000;
}
#vcal {
  background-color: #fff
}

.month-container {
  float: left;
}

.months-container {
  display: block;
}

#vproducts {
  width: 900px;
  height: 200px;
  border: 1px solid purple;
}

#vservices {
  width: 900px;
  height: 200px;
  border: 1px solid blue;
}
